.nav-bar {
  background-color: #30332e;
  color: #fff;

  .navbar-brand {
    color: #0abaff !important;
  }
}

.nav-links {
  .nav-link {
    text-decoration: none !important;
    color: #fff !important;

    &:hover {
      color: #0abaff !important;
    }
  }
}
