.nav-bar {
  background-color: #30332e;
  color: #fff;

  .navbar-brand {
    color: #000 !important;
    text-transform: uppercase;
    font-weight: 800;
    border: 4px solid #0abaff;
    padding: 6px 15px;
    background-color: #fff;
  }
}

.nav-links {
  .nav-link {
    text-decoration: none !important;
    color: #fff !important;

    &:hover {
      color: #0abaff !important;
    }
  }
}
